body {
    display: flex;
    background: darkslategray;
    margin: 0;
    font-family: century gothic;
    overflow: hidden;
}

.menu {
    background: lightgray;
    position: fixed;
    z-index: 2;
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 30px;
    font-size: 5vh;
}

input {
    font-size: 5vh;
    font-family: century gothic
}

textarea {
    width: calc(80vw - 30px);
    height: 30vh;
    font-size: 3vh;
    padding: 10px;
    font-family: century gothic
}

.game-board {
    height: calc(100vh- 20px);
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background: tan;
    background-image: url(./img/wood_dark.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.side-bar {
    height: 100vh;
    width: 20vw;
    background-image: url(./img/wood_light.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    box-shadow: -10px 0 10px -5px #000000 inset;
    position: relative;
}

.one-word {
    background-color: white;
    border-radius: 10px;
    font-size: 3vw;
    line-height: 2.6vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    /* box-shadow: inset rgb(71, 71, 71) 0px 0px 30px -1px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    transition: background 0.3s, color 0.3s;
    position: relative;
}

.shiny {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
                rgba(0, 0, 0, 0.06) 0px 2px 1px 0px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px 0px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px 0px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px 0px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;
}

.word-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

/* .user-text {
    width: 19vw;
    height: 35vh;
    resize: none;
} */

.score-keep {
    margin-top: auto;
    display: flex;
    text-align: center;
    font-size: 4vw;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.suggest-box {
    height: 15vh;
    border-radius: 10px;
    background: lightgreen;
    margin: 10px;
    text-align: center;
    font-size: 3vw;
    line-height: 2.6vw;
    position: relative;
}

.sentence-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-speech-button {
    /* transform: translateY(-30px); */
    border: none;
    background: gray;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: color 0.3s, background 0.3s;
}
.toggle-speech-button.on {
    background: red;
    color: white;
}

.speech-bubble {
    color: black;
    background: white;
    font-weight: bold;
    height: 50vh;
    margin: 10px;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.speech-bubble::-webkit-scrollbar {
    display: none;
}

.speech-now {
    padding: 10px;
}

.speech-log{
    padding: 10px;
    font-size: 1rem;
}

.one-log {
    padding: 10px;
    border-top:    1px solid  rgb(124, 124, 124);
}

/* .triangle:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: white;
    left: 7vw;
    bottom: -19px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%)
} */

.blue {
    background: blue;
    color: white;
}
.red {
    background: red;
    color: white;
}
.yellow {
    background: yellow;
    color: black;
}
.green {
    background: green;
    color: white;
}

.text-blue {
    color: blue;
}
.text-red {
    color: red;
}
.text-yellow {
    color: orange;
}
.text-green {
    color: green;
}

.team-bar {
    position: absolute;
    bottom: 10vw;
    display: flex;
    align-items: bottom;
}

svg {
    display: block;
}

.team-member {
    width: 5vw;
    height: 2vw;
    transform: translateY(3vw);
    transition: width 0.3s, height 0.3s, bottom 0.3s;
}
.team-member.highlighted {
    transform: translateY(0);
    height: 5vw;
}

.shadow {
    filter: drop-shadow(0 0 0.3rem white);
}
